<footer class="site-footer">

  <div class="wrapper">

    <h2 class="page-heading">Contact</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
	  <li>
	    <a href="mailto:{{ site.email }}">{% include icon-email.html username=site.email %}
	    </a>
	  </li>
	  <li>
	    <a href="mailto:{{ site.email2 }}">
	      {% include icon-email.html username=site.email2 %}
	    </a>
	  </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
	<p align='right'><a href='#top'> Go to top</a></p>
      </div>
    </div>

  </div>

</footer>
